@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Monument-Extended';
    src: url(../fonts/PPMonumentExtended-Regular.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: 500;
}

html {
    font-family: 'NotoSansTC', 'Monument-Extended';
}

body {
    margin: 0;
    background-color: $bgColor2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

a,
button {
    cursor: pointer;
    transition: 0.2s;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}

.btn-wrapper {
    white-space: nowrap;
    overflow-x: auto;
}

.menu-btn {
    position: relative;
    font-size: 16px;
    background: none;
    color: $secondaryText;
    border: none;
    height: 42px;
    line-height: 20px;
    padding: 10px 0 12px;
    margin: 0 16px;
    display: inline-block;

    &:hover,
    &.active {
        color: $primaryTextLight;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);

        &::after {
            content: "";
            width: 12px;
            height: 4px;
            background-color: $secondaryColor;
            box-shadow: 0px 0px 10px rgba(85, 255, 173, 0.6);
            border-radius: 20px;
            position: absolute;
            bottom: 0;
            left: calc((100% - 12px) / 2);
        }
    }
}

.signup-btn {
    position: relative;
    height: 76px;
    background-color: $btnBgColor;
    color: $primaryTextDark;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;

    &:hover {
        background-color: $btnBgHoverColor;
        animation: shake .5s linear;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all .5s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateY(-100%);
    opacity: 0;
}

@keyframes shake {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(3deg);
    }

    75% {
        transform: rotate(-3deg);
    }

    100% {
        transform: rotate(0);
    }
}

@media screen and (max-width: 1184px) {
    .signup-btn {
        height: 52px;
        font-size: 20px;
        letter-spacing: 0.02em;
    }
}