@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Regular.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansTC';
    src: url(../fonts/NotoSansTC-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Monument-Extended';
    src: url(../fonts/PPMonumentExtended-Regular.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: 500;
}

html {
    font-family: 'NotoSansTC', 'Monument-Extended';
}

body {
    margin: 0;
    background-color: $bgColor2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

a, button {
    cursor: pointer;
    transition: 0.2s;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

::-webkit-scrollbar {
    display: none;
}