$primaryTextDark: #000000;
$primaryTextLight: #ffffff;
$secondaryText: #858993;

$bgColor1: #0E1835;
$bgColor2: #06102B;
$cardBgColor: #151F3F;

$primaryColor1: #9DA4FF;
$primaryColor2: #C4C8FF;
$primaryColor3: #6E77E9;

$secondaryColor: #55FFAD;

$btnBgColor: #FFE34E;
$btnBgHoverColor: #FFF385;

$gradientCardBgColor: linear-gradient(180deg, #9DA4FF 0%, #6E77E9 100%);
$gradientDecorationColor: linear-gradient(90deg, #9DA4FF 0%, #55FFAD 100%);
$gradientCardStrokeColor: linear-gradient(100.38deg, #313A65 3.95%, rgba(49, 58, 101, 0) 100%);